.hotelimg {
  width: 90px;
  height: 70px;
  border-radius: 7px;
}
.hotellist {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
}
.links {
  text-decoration: none;
}
.m1 {
  margin: 0px;
  color: black;
  list-style-type: none;
  font-size: 10px;
  margin: 5px;
  font-weight: 700;
}
