.restlogo {
  width: 300px;
  margin-right: 18px;
  border-radius: 8px;
}
.hotelname {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  font-style: normal;
}
.allrestaurants {
  background-color: #333333;
  font-family: 'Roboto';
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}
.ratingcontainer {
  display: flex;
}
.d1 {
  margin-right: 10px;
}
.d2 {
  margin-left: 10px;
}

.line {
  margin: 5px;
}
.p1 {
  margin: 0px;
  margin-bottom: 6px;
}
.place {
  line-height: 20px;
  font-weight: 400;
}
.bottom {
  font-size: 10px;
  font-weight: 400;
}
