.listunordercontainer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding-right: 10px;
}
.listitem {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.demo {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.popupcontainer {
  display: flex;
  background-color: aliceblue;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .logoutpattern1 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .logoutpattern {
    display: none;
  }
}
.lo {
  font-size: 18px;
}
.navcontainer {
  background-color: #f8fafc;
  padding: 10px;
}
.capimg {
  width: 36px;
  height: 36px;
}
.home {
  color: #f7931e;
  font-weight: 500;
}
.logoutbutton {
  background-color: #f7931e;
  color: #f8fafc;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  padding: 6px 12px;
}
.cart {
  font-weight: 500;
}
.totalcount {
  background-color: lightskyblue;
  padding: 5px 5px;
  border-radius: 100%;
}
.c1 {
  margin: 6px;
}
.head {
  font-size: 15px;
}
